.header__lang-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header__lang-link:hover {
  opacity: 0.7;
}

@media screen and (max-width:320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
