.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width:400px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
