.header {
  width: 100%;
  max-width: 1184px;
  padding: 0 48px;
  box-sizing: border-box ;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

@media screen and (max-width:768px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width:375px) {
  .header {
    padding: 0 16px;
  }
}
