.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  padding: 0;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  color: #FFFFFF;
}

@media screen and (max-width:768px) {
  .lead__title {
    margin: 0 24px 32px;
  }
}

@media screen  and (max-width:725px) {
  .lead__title {
    font-size: 66px;
  }
}

@media screen and (max-width:515px) {
  .lead__title {
     font-size: 56px;
  }
}

@media screen  and (max-width:445px) {
  .lead__title {
    margin: 0 16px 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
