.footer__copyright {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  color: #FFFFFF;
}

@media screen and (max-width:700px) {
  .footer__copyright {
    margin: 48px 0 0;
    font-size: 14px;
    line-height: 1;
  }
}
