.intro {
  grid-area: intro;
  padding: 92px 0 92px;
  box-sizing: border-box;
}

@media screen and (max-width:950px) {
  .intro {
    padding: 88px 24px 88px;
  }
}

@media screen and (max-width:450px) {
  .intro {
    padding: 64px 16px 64px;
  }
}
