.lead__caption {
  margin: 6px 0 0;
  padding: 0;
  align-self: flex-start;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width:950px) {
  .lead__caption {
    margin-left:24px;
  }
}

@media screen and (max-width:320px) {
  .lead__caption {
    margin-left:16px;
  }
}
