.cover__title {
  max-width: 570px;
  margin: 0 auto 32px;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width:750px) {
  .cover__title {
    max-width: 370px;
    font-size: 52px;
  }
}

@media screen and (max-width:450px) {
  .cover__title {
    max-width: 300px;
    margin: 0 auto 16px;
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width:375px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 1.1;
  }
}
